tribefire.extension.schemed-xml/schemed-xml-xsd-analyzer-lab/res/simpleChoice/input/simplest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
		<xs:choice>
			<xs:element name="choice_1" type="xs:string"/>
			<xs:element name="choice_2" type="xs:integer"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
