tribefire.extension.schemed-xml/schemed-xml-xsd-marshaller-lab/res/include/input/include.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="base.xsd"/>
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="property2" type="Base"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
