tribefire.extension.schemed-xml/schemed-xml-xsd-analyzer-lab/res/naming/input/propagateNaming.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:choice>
				<xs:element name="one" type="xs:string"/>
				<xs:element name="two" type="xs:string"/>				
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
