com.braintribe.gm.schemedxml/schemed-xml-marshaller-lab/res/generics/any/element/input/top.undefined.type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="container"/>
	<xs:complexType name="type1">
		<xs:sequence>
			<xs:element name="one" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="type2">
		<xs:sequence>
			<xs:element name="two" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
