tribefire.extension.schemed-xml/schemed-xml-marshaller-lab/res/generics/simpleDirect/flat/input/simpleDirect.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="root">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="single" type="xs:string"/>
			<xs:element name="multiple" maxOccurs="unbounded">
			 	<xs:complexType >
					<xs:sequence>
						<xs:element name="value" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
    </xs:element>
</xs:schema>
