tribefire.extension.schemed-xml/schemed-xml-xsd-analyzer-lab/res/xmlNamespace/input/xmlNamespace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="https://www.w3.org/2009/01/xml.xsd"/>
<!--
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
-->
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang" />
		<xs:attribute ref="xml:space" />
		<xs:attribute ref="xml:base" />
	</xs:complexType>
</xs:schema>
