tribefire.extension.schemed-xml/schemed-xml-marshaller-lab/res/generics/simpleSequence/flat/input/simpleSequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
	<xs:sequence>
		<xs:element name="c" type="xs:string"/>
		<xs:element name="b" type="xs:string"/>
		<xs:element name="a" type="xs:string"/>
	</xs:sequence>
	</xs:complexType>
</xs:schema>
