tribefire.extension.schemed-xml/schemed-xml-marshaller-lab/res/generics/commonTypeImport/flat/input/import.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="common" xmlns:ns1="import" targetNamespace="import1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="common" schemaLocation="common.import.xsd"/>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="import1" type="xs:string" maxOccurs="unbounded"/>
			<xs:element name="common" type="common:Root"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
