tribefire.extension.schemed-xml/schemed-xml-xsd-marshaller-lab/res/any/input/any.multiple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="a" type="xs:string"/>
			<xs:any processContents="skip" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
