tribefire.extension.schemed-xml/schemed-xml-marshaller-lab/res/generics/attributesLang/flat/input/attributes.lang.correct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xml="http://www.w3.org/XML/1998/namespace">	
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
	<xs:sequence>
		<xs:element name="value" type="xs:string"/>
	</xs:sequence>
	<xs:attribute ref="xml:lang" use="required" />			
	</xs:complexType>	
</xs:schema>
