tribefire.extension.schemed-xml/schemed-xml-marshaller-lab/res/generics/unboundedSequence/flat/input/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="single" type="xs:string"/>
			<xs:element name="multiple" type="Entry" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Entry">
		<xs:sequence>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
