tribefire.extension.schemed-xml/schemed-xml-xsd-analyzer-lab/res/commonTypeImport/input/main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:imported1="import1" xmlns:imported2="import2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="import1" schemaLocation="import.1.xsd"/>
	<xs:import namespace="import2" schemaLocation="import.2.xsd"/>
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="value" type="xs:string"/>
			<xs:element name="imported1" type="imported1:Root"/>
			<xs:element name="imported2" type="imported2:Root"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
