com.braintribe.gm.schemedxml/schemed-xml-xsd-analyzer-lab/res/addidas/input/PickticketBridge.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Company" type="xs:string"/>
	<xs:element name="Division" type="xs:string"/>
	<xs:element name="Warehouse" type="xs:string"/>
	<xs:element name="Error" type="xs:string"/>
	<xs:element name="DateCreated" type="xs:dateTime"/>
	<xs:element name="TpeShipToCnty" type="xs:string"/>
	<xs:element name="SKU100Inventory" type="xs:string"/>
	<xs:element name="VASStatus" type="xs:string"/>
	<xs:element name="SpeclInstrCode1" type="xs:string"/>
	<xs:element name="SpeclInstrCode2" type="xs:string"/>
	<xs:element name="SpeclInstrCode3" type="xs:string"/>
	<xs:element name="SpeclInstrCode4" type="xs:string"/>
	<xs:element name="SpeclInstrCode5" type="xs:string"/>
	<xs:element name="RecordExpansionField" type="xs:string"/>
	<xs:element name="CustomRecExpansionField" type="xs:string"/>
	<xs:element name="StatusCode" type="xs:integer"/>
	<xs:element name="PktProfileID" type="xs:string"/>
	<xs:element name="VASType" type="xs:string"/>
	<xs:element name="TpeBusinessUnitCode" type="xs:string"/>
	<xs:element name="TpeDesigModeCode" type="xs:string"/>
	<xs:element name="TpeDesigSvcLvl" type="xs:string"/>
	<xs:element name="TpeDestDockDoor" type="xs:string"/>
	<xs:element name="TpeIsPerishFlag" type="xs:string"/>
	<xs:element name="TpeShprOrdID" type="xs:string"/>
	<xs:element name="MiscField1" type="xs:string"/>
	<xs:element name="MiscField2" type="xs:string"/>
	<xs:element name="MiscField3" type="xs:string"/>
	<xs:element name="MiscField4" type="xs:string"/>
	<xs:element name="MiscField5" type="xs:string"/>
	<xs:element name="MiscField6" type="xs:string"/>
	<xs:element name="MiscField7" type="xs:string"/>
	<xs:element name="MiscField8" type="xs:string"/>
	<xs:element name="MiscField9" type="xs:string"/>
	<xs:element name="MiscField10" type="xs:string"/>
	<xs:element name="MiscField11" type="xs:string"/>
	<xs:element name="MiscField12" type="xs:string"/>
	<xs:element name="MiscField13" type="xs:string"/>
	<xs:element name="MiscField14" type="xs:string"/>
	<xs:element name="MiscField15" type="xs:string"/>
	<xs:element name="MiscField16" type="xs:string"/>
	<xs:element name="MiscNum1" type="xs:decimal"/>
	<xs:element name="MiscNum2" type="xs:decimal"/>
	<xs:element name="MiscNum3" type="xs:decimal"/>
	<xs:element name="MiscNum4" type="xs:decimal"/>
	<xs:element name="MiscNum5" type="xs:decimal"/>
	<xs:element name="MiscNum6" type="xs:decimal"/>
	<xs:element name="MiscNum7" type="xs:decimal"/>
	<xs:element name="MiscNum8" type="xs:decimal"/>
	<xs:element name="PktLineNbr" type="xs:integer"/>
	<xs:element name="WorkType" type="xs:string"/>
	<xs:element name="TpeCurrCode" type="xs:string"/>
	<xs:element name="SpclInstrNbr" type="xs:integer"/>
	<xs:element name="SpclInstrType" type="xs:string"/>
	<xs:element name="SpclInstrCode" type="xs:string"/>
	<xs:element name="PickticketInstrFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DateCreated"/>
				<xs:element name="SpclInstrDesc" type="xs:string"/>
				<xs:element ref="RecordExpansionField"/>
				<xs:element ref="CustomRecExpansionField"/>
				<xs:element ref="PktProfileID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EstimatedWeightBridged" type="xs:decimal"/>
	<xs:element name="CustomerPONumber" type="xs:string"/>
	<xs:element name="TpeMonetaryValue" type="xs:decimal"/>
	<xs:element name="TpeMVCurrencyCode" type="xs:string"/>
	<xs:element name="TpeCommodityCode" type="xs:string"/>
	<xs:element name="TpeProductSchedRefNbr" type="xs:string"/>
	<xs:element name="TpeUNNumber" type="xs:string"/>
	<xs:element name="PickticketBridge">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Pickticket" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Company"/>
							<xs:element ref="Division"/>
							<xs:element name="PktCtlNbr" type="xs:string"/>
							<xs:element ref="Warehouse"/>
							<xs:element name="PktNbr" type="xs:string" minOccurs="0"/>
							<xs:element name="PktSuffix" type="xs:string" minOccurs="0"/>
							<xs:element name="OrderNbr" type="xs:string" minOccurs="0"/>
							<xs:element name="OrderSuffix" type="xs:string" minOccurs="0"/>
							<xs:element name="OrderType" type="xs:string" minOccurs="0"/>
							<xs:element name="BatchCtlNbr" type="xs:string" minOccurs="0"/>
							<xs:element ref="Error" minOccurs="0"/>
							<xs:element name="PickticketHeaderFields" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="DateCreated" minOccurs="0"/>
										<xs:element name="ShipTo" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipToName" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipToName2" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipToAddr1" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipToAddr2" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipToAddr3" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipToCity" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipToState" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipToZip" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipToCountry" type="xs:string" minOccurs="0"/>
										<xs:element ref="TpeShipToCnty" minOccurs="0"/>
										<xs:element name="ShiptoFaxNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="SoldTo" type="xs:string" minOccurs="0"/>
										<xs:element name="SoldToName" type="xs:string" minOccurs="0"/>
										<xs:element name="SoldToName2" type="xs:string" minOccurs="0"/>
										<xs:element name="SoldToAddr1" type="xs:string" minOccurs="0"/>
										<xs:element name="SoldToAddr2" type="xs:string" minOccurs="0"/>
										<xs:element name="SoldToAddr3" type="xs:string" minOccurs="0"/>
										<xs:element name="SoldToCity" type="xs:string" minOccurs="0"/>
										<xs:element name="SoldToState" type="xs:string" minOccurs="0"/>
										<xs:element name="SoldToZip" type="xs:string" minOccurs="0"/>
										<xs:element name="TelephoneNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="SoldToCountry" type="xs:string" minOccurs="0"/>
										<xs:element name="DCCenterNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="LogicalWarehouse" type="xs:string" minOccurs="0"/>
										<xs:element name="TransferWarehouses" type="xs:string" minOccurs="0"/>
										<xs:element name="BusinessDivision" type="xs:string" minOccurs="0"/>
										<xs:element name="ARAcctNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="ARCode" type="xs:string" minOccurs="0"/>
										<xs:element ref="CustomerPONumber" minOccurs="0"/>
										<xs:element name="CustomerDept" type="xs:string" minOccurs="0"/>
										<xs:element name="ProNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="AppointmentNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="VerifyCartonContents" type="xs:string" minOccurs="0"/>
										<xs:element name="NbrOfTimesApptChg" type="xs:integer" minOccurs="0"/>
										<xs:element name="AppointmentDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="ApptMadeById" type="xs:string" minOccurs="0"/>
										<xs:element name="StoreNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="StoreType" type="xs:string" minOccurs="0"/>
										<xs:element name="AdvertisingCode" type="xs:string" minOccurs="0"/>
										<xs:element name="AdvertisingDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="MerchandiseCode" type="xs:string" minOccurs="0"/>
										<xs:element name="MerchandiseClass" type="xs:string" minOccurs="0"/>
										<xs:element name="MerchandiseCompany" type="xs:string" minOccurs="0"/>
										<xs:element name="MerchDiv" type="xs:string" minOccurs="0"/>
										<xs:element name="VendorNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipVia" type="xs:string" minOccurs="0"/>
										<xs:element name="BillingShipVia" type="xs:string" minOccurs="0"/>
										<xs:element name="ThirdPartyBill" type="xs:string" minOccurs="0"/>
										<xs:element name="SalesmanNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="PriorityCode" type="xs:string" minOccurs="0"/>
										<xs:element name="PrioritySfx" type="xs:string" minOccurs="0"/>
										<xs:element name="TerritoryCode" type="xs:string" minOccurs="0"/>
										<xs:element name="ManagingTerritory" type="xs:string" minOccurs="0"/>
										<xs:element name="SalesGroup" type="xs:string" minOccurs="0"/>
										<xs:element name="MarkFor" type="xs:string" minOccurs="0"/>
										<xs:element name="BackOrderFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="OrderDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="PktGenerationDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="StartShipDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="StopShipDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="CancelDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="AllocShipDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="ScheduleDeliveryDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="ShipmentTypeDI" type="xs:string" minOccurs="0"/>
										<xs:element name="TermsCode" type="xs:string" minOccurs="0"/>
										<xs:element name="TermsDesc" type="xs:string" minOccurs="0"/>
										<xs:element name="TermsPercent" type="xs:decimal" minOccurs="0"/>
										<xs:element name="PreStickerCode" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipWithCtlNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="PrintCode" type="xs:string" minOccurs="0"/>
										<xs:element name="PrintCoo" type="xs:string" minOccurs="0"/>
										<xs:element name="PrintInv" type="xs:string" minOccurs="0"/>
										<xs:element name="PrintSed" type="xs:string" minOccurs="0"/>
										<xs:element name="PrintCanadianCustInvcFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="PrintDockRcptFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="PrintNaftaCooFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="PrintOceanBolFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="PrintPkgListFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="PrintShprLetterOfInstrFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="DutyTaxPaymentType" type="xs:integer" minOccurs="0"/>
										<xs:element name="DutyTaxAcctNbr" type="xs:string" minOccurs="0"/>
										<!-- xs:element name="PalletCubingCode" minOccurs="0" type="xs:string"/ -->
										<xs:element name="CustomerPrePack" type="xs:string" minOccurs="0"/>
										<xs:element name="CartonLabelType" type="xs:string" minOccurs="0"/>
										<xs:element name="NbrOfCartonLabels" type="xs:integer" minOccurs="0"/>
										<xs:element name="ContentLabelType" type="xs:string" minOccurs="0"/>
										<xs:element name="NbrOfContLabels" type="xs:integer" minOccurs="0"/>
										<xs:element name="WaveLabelType" type="xs:string" minOccurs="0"/>
										<xs:element name="NbrOfPackingSlips" type="xs:integer" minOccurs="0"/>
										<xs:element name="PackingSlipType" type="xs:string" minOccurs="0"/>
										<xs:element name="PickticketStatus" type="xs:string" minOccurs="0"/>
										<xs:element name="PackHoldFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="InvoiceInCarton" type="xs:string" minOccurs="0"/>
										<xs:element name="AutoInvoiceStatus" type="xs:string" minOccurs="0"/>
										<xs:element name="CustomerRouting" type="xs:string" minOccurs="0"/>
										<xs:element name="RoutingAttribute" type="xs:string" minOccurs="0"/>
										<xs:element name="Route" type="xs:string" minOccurs="0"/>
										<xs:element name="RouteSeqNbr" type="xs:integer" minOccurs="0"/>
										<xs:element name="RouteTo" type="xs:string" minOccurs="0"/>
										<xs:element name="RoutingType1" type="xs:string" minOccurs="0"/>
										<xs:element name="RoutingType2" type="xs:string" minOccurs="0"/>
										<xs:element name="RoutingZip" type="xs:string" minOccurs="0"/>
										<xs:element name="RoutedSWCNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="SingleSKUOrder" type="xs:string" minOccurs="0"/>
										<xs:element ref="EstimatedWeightBridged" minOccurs="0"/>
										<xs:element name="EstimatedCartonsBridged" type="xs:integer" minOccurs="0"/>
										<xs:element name="EstimatedVolumeBridged" type="xs:integer" minOccurs="0"/>
										<xs:element name="TotNumberOfUnits" type="xs:decimal" minOccurs="0"/>
										<xs:element name="TotDlrsUndiscntd" type="xs:decimal" minOccurs="0"/>
										<xs:element name="TotDlrsDiscounted" type="xs:decimal" minOccurs="0"/>
										<xs:element ref="TpeCurrCode" minOccurs="0"/>
										<xs:element name="DiscountDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="NbrOfHangers" type="xs:integer" minOccurs="0"/>
										<xs:element name="AddressCode" type="xs:string" minOccurs="0"/>
										<xs:element name="BillOfLading" type="xs:string" minOccurs="0"/>
										<xs:element name="BillOfLadingType" type="xs:string" minOccurs="0"/>
										<xs:element name="TrailerNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="TrailerType" type="xs:string" minOccurs="0"/>
										<xs:element name="TrailerSize" type="xs:string" minOccurs="0"/>
										<xs:element name="StopNbr" type="xs:integer" minOccurs="0"/>
										<xs:element name="RouteManifestNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipmentCtlFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="CodFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="ProductValue" type="xs:decimal" minOccurs="0"/>
										<xs:element name="HandlingCharges" type="xs:decimal" minOccurs="0"/>
										<xs:element name="InsuranceCharges" type="xs:decimal" minOccurs="0"/>
										<xs:element name="TaxCharges" type="xs:decimal" minOccurs="0"/>
										<xs:element name="MiscCharges" type="xs:decimal" minOccurs="0"/>
										<xs:element name="PktWageValue" type="xs:decimal" minOccurs="0"/>
										<xs:element name="PickerStdHours" type="xs:decimal" minOccurs="0"/>
										<xs:element name="CartonASNRequired" type="xs:string" minOccurs="0"/>
										<xs:element name="ASNMethod" type="xs:string" minOccurs="0"/>
										<xs:element ref="SKU100Inventory" minOccurs="0"/>
										<xs:element name="CrossDockPkt" type="xs:string" minOccurs="0"/>
										<xs:element name="ChoppingYN" type="xs:string" minOccurs="0"/>
										<xs:element name="I2Of5LabelYN" type="xs:string" minOccurs="0"/>
										<xs:element name="CollectFreight" type="xs:string" minOccurs="0"/>
										<xs:element name="PrintGarmentLbls" type="xs:string" minOccurs="0"/>
										<xs:element ref="VASStatus" minOccurs="0"/>
										<xs:element name="ChuteCategory" type="xs:string" minOccurs="0"/>
										<xs:element name="CheapRateFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="MaxCartonWeight" type="xs:decimal" minOccurs="0"/>
										<xs:element name="MaxCartonUnits" type="xs:decimal" minOccurs="0"/>
										<xs:element name="PalletSeqFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="AssignLocation" type="xs:string" minOccurs="0"/>
										<xs:element name="ShippingWarehouse" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipToWarehouse" type="xs:string" minOccurs="0"/>
										<xs:element name="CombinePktFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="AllocateCases" type="xs:string" minOccurs="0"/>
										<xs:element name="AllocateInventory" type="xs:string" minOccurs="0"/>
										<xs:element name="CaseAllocProcessing" type="xs:string" minOccurs="0"/>
										<xs:element name="ShippingZone1" type="xs:string" minOccurs="0"/>
										<xs:element name="ShippingZone2" type="xs:string" minOccurs="0"/>
										<xs:element name="ShippingZone3" type="xs:string" minOccurs="0"/>
										<xs:element name="ShippingZone4" type="xs:string" minOccurs="0"/>
										<xs:element name="ShippingZone5" type="xs:string" minOccurs="0"/>
										<xs:element name="ShippingZone6" type="xs:string" minOccurs="0"/>
										<xs:element ref="SpeclInstrCode1" minOccurs="0"/>
										<xs:element ref="SpeclInstrCode2" minOccurs="0"/>
										<xs:element ref="SpeclInstrCode3" minOccurs="0"/>
										<xs:element ref="SpeclInstrCode4" minOccurs="0"/>
										<xs:element ref="SpeclInstrCode5" minOccurs="0"/>
										<xs:element name="SpeclInstrCode6" type="xs:string" minOccurs="0"/>
										<xs:element name="SpeclInstrCode7" type="xs:string" minOccurs="0"/>
										<xs:element name="SpeclInstrCode8" type="xs:string" minOccurs="0"/>
										<xs:element name="SpeclInstrCode9" type="xs:string" minOccurs="0"/>
										<xs:element name="SpeclInstrCode10" type="xs:string" minOccurs="0"/>
										<xs:element name="AllocateOpenStockForB" type="xs:string" minOccurs="0"/>
										<xs:element ref="RecordExpansionField" minOccurs="0"/>
										<xs:element ref="CustomRecExpansionField" minOccurs="0"/>
										<xs:element name="DepartmentDescription" type="xs:string" minOccurs="0"/>
										<xs:element name="Function" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipDateTime" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="StopShipRule" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipWithNumberSequence" type="xs:integer" minOccurs="0"/>
										<xs:element name="OrderNumberforShipWithCtl" type="xs:integer" minOccurs="0"/>
										<xs:element name="NbrofOrdersforShipWithCtl" type="xs:integer" minOccurs="0"/>
										<xs:element name="PickCartonFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="PickticketType" type="xs:string" minOccurs="0"/>
										<xs:element name="ReplenishmentFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="InventoryShortageFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="EstimatedCarton" type="xs:integer" minOccurs="0"/>
										<xs:element name="ManifestType" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipmentNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="FirstZone" type="xs:string" minOccurs="0"/>
										<xs:element name="LastZone" type="xs:string" minOccurs="0"/>
										<xs:element name="NumberofZones" type="xs:integer" minOccurs="0"/>
										<xs:element name="WaveSequenceNumber" type="xs:integer" minOccurs="0"/>
										<xs:element name="PartialCartonMinWeight" type="xs:decimal" minOccurs="0"/>
										<xs:element name="PartialCartonOption" type="xs:string" minOccurs="0"/>
										<xs:element name="MajorPktGroupAttribute" type="xs:string" minOccurs="0"/>
										<xs:element name="OrderConsolidationProfile" type="xs:string" minOccurs="0"/>
										<xs:element name="WarehouseTransferFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="RoutingGuideNumber" type="xs:string" minOccurs="0"/>
										<xs:element ref="StatusCode" minOccurs="0"/>
										<xs:element name="RecalculateOrderChange" type="xs:string" minOccurs="0"/>
										<xs:element name="CreditAmount" type="xs:decimal" minOccurs="0"/>
										<xs:element name="OrderCharge" type="xs:decimal" minOccurs="0"/>
										<xs:element name="SuppressFinancials" type="xs:string" minOccurs="0"/>
										<xs:element name="LanguageID" type="xs:string" minOccurs="0"/>
										<xs:element name="ManifestNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="ResidentialAddress" type="xs:string" minOccurs="0"/>
										<xs:element name="ServiceLevel" type="xs:string" minOccurs="0"/>
										<xs:element name="LiabilityTerms" type="xs:string" minOccurs="0"/>
										<xs:element name="EarliestDeliveryTime" type="xs:string" minOccurs="0"/>
										<xs:element name="Importer" type="xs:string" minOccurs="0"/>
										<xs:element name="Incoterms" type="xs:string" minOccurs="0"/>
										<xs:element name="IncotermID" type="xs:string" minOccurs="0"/>
										<xs:element name="IncotermsNamedPlace" type="xs:string" minOccurs="0"/>
										<xs:element name="PaymentTerms" type="xs:string" minOccurs="0"/>
										<xs:element name="ExportingShipVia" type="xs:string" minOccurs="0"/>
										<xs:element name="PortOfLoading" type="xs:string" minOccurs="0"/>
										<xs:element name="LoadingPier" type="xs:string" minOccurs="0"/>
										<xs:element name="Vessel" type="xs:string" minOccurs="0"/>
										<xs:element name="PortOfDischarge" type="xs:string" minOccurs="0"/>
										<xs:element name="Containerized" type="xs:string" minOccurs="0"/>
										<xs:element name="ValidatedLicense" type="xs:string" minOccurs="0"/>
										<xs:element name="EconomicCommodityCode" type="xs:string" minOccurs="0"/>
										<xs:element name="Related" type="xs:string" minOccurs="0"/>
										<xs:element name="DocsOnlyShipment" type="xs:string" minOccurs="0"/>
										<xs:element name="GenMerchDesc" type="xs:string" minOccurs="0"/>
										<xs:element name="BOLBreakAttribute" type="xs:string" minOccurs="0"/>
										<xs:element name="ConsigneeAcctNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="FrtFwdrAcctNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="BillAcctNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="CODFunds" type="xs:string" minOccurs="0"/>
										<xs:element name="FTSRNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="CustomsBroker" type="xs:string" minOccurs="0"/>
										<xs:element name="RateShopGrp" type="xs:string" minOccurs="0"/>
										<xs:element name="IntlGoodsDesc" type="xs:string" minOccurs="0"/>
										<xs:element ref="PktProfileID" minOccurs="0"/>
										<xs:element name="DutyandTax" type="xs:decimal" minOccurs="0"/>
										<xs:element name="RteLoadSeq" type="xs:integer" minOccurs="0"/>
										<xs:element name="CustomerProfile" type="xs:string" minOccurs="0"/>
										<xs:element name="POType" type="xs:string" minOccurs="0"/>
										<xs:element name="BBBCarrierCode" type="xs:string" minOccurs="0"/>
										<xs:element name="InternalOrderNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="CCPrimaryNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="CCSecondaryNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="PalletCubingIndicator" type="xs:integer" minOccurs="0"/>
										<xs:element name="SingleUnitFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="CustChargeDiscPercent" type="xs:decimal" minOccurs="0"/>
										<xs:element name="CODPaymentType" type="xs:string" minOccurs="0"/>
										<xs:element name="CustChargeShipVia" type="xs:string" minOccurs="0"/>
										<xs:element name="CustChargeServiceLevel" type="xs:string" minOccurs="0"/>
										<xs:element name="CartonNbrType" type="xs:string" minOccurs="0"/>
										<xs:element name="CustChargeOrigin" type="xs:string" minOccurs="0"/>
										<xs:element name="DayOfWeek" type="xs:integer" minOccurs="0"/>
										<xs:element name="GlobalLocnNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="PalletSeqUsed" type="xs:string" minOccurs="0"/>
										<xs:element name="ShiftNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="SchedDlvryEndDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="HazmatFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="TpeProc" type="xs:string" minOccurs="0"/>
										<xs:element name="TpePurchaseOrderFlag" type="xs:string" minOccurs="0"/>
										<xs:element ref="VASType" minOccurs="0"/>
										<xs:element name="ConsolNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="ZoneSkip" type="xs:string" minOccurs="0"/>
										<xs:element ref="TpeBusinessUnitCode" minOccurs="0"/>
										<xs:element ref="TpeDesigModeCode" minOccurs="0"/>
										<xs:element ref="TpeDesigSvcLvl" minOccurs="0"/>
										<xs:element ref="TpeDestDockDoor" minOccurs="0"/>
										<xs:element ref="TpeIsPerishFlag" minOccurs="0"/>
										<xs:element ref="TpeShprOrdID" minOccurs="0"/>
										<xs:element name="TpeTempZone" type="xs:string" minOccurs="0"/>
										<xs:element name="TpeTransptRespCode" type="xs:string" minOccurs="0"/>
										<xs:element name="EstPalletsBrgd" type="xs:integer" minOccurs="0"/>
										<xs:element name="CtnsperPalletBrgd" type="xs:integer" minOccurs="0"/>
										<xs:element name="DestnAirport" type="xs:string" minOccurs="0"/>
										<xs:element name="DepAirport" type="xs:string" minOccurs="0"/>
										<xs:element name="TransPlanSystem" type="xs:string" minOccurs="0"/>
										<xs:element name="TpeTrigPoint" type="xs:string" minOccurs="0"/>
										<xs:element name="WaveStatusCode" type="xs:integer" minOccurs="0"/>
										<xs:element name="ProcessRetailRouteRule" type="xs:string" minOccurs="0"/>
										<xs:element name="ConsolidatorAddressCode" type="xs:string" minOccurs="0"/>
										<xs:element name="HostApptNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="TeOrderType" type="xs:string" minOccurs="0"/>
										<xs:element name="NbrOfDtlLines" type="xs:integer" minOccurs="0"/>
										<xs:element name="OnShortage" type="xs:string" minOccurs="0"/>
										<xs:element name="TpeFreightClass" type="xs:string" minOccurs="0"/>
										<xs:element ref="MiscField1" minOccurs="0"/>
										<xs:element ref="MiscField2" minOccurs="0"/>
										<xs:element ref="MiscField3" minOccurs="0"/>
										<xs:element ref="MiscField4" minOccurs="0"/>
										<xs:element ref="MiscField5" minOccurs="0"/>
										<xs:element ref="MiscField6" minOccurs="0"/>
										<xs:element ref="MiscField7" minOccurs="0"/>
										<xs:element ref="MiscField8" minOccurs="0"/>
										<xs:element ref="MiscField9" minOccurs="0"/>
										<xs:element ref="MiscField10" minOccurs="0"/>
										<xs:element ref="MiscField11" minOccurs="0"/>
										<xs:element ref="MiscField12" minOccurs="0"/>
										<xs:element ref="MiscField13" minOccurs="0"/>
										<xs:element ref="MiscField14" minOccurs="0"/>
										<xs:element ref="MiscField15" minOccurs="0"/>
										<xs:element ref="MiscField16" minOccurs="0"/>
										<xs:element ref="MiscNum1" minOccurs="0"/>
										<xs:element ref="MiscNum2" minOccurs="0"/>
										<xs:element ref="MiscNum3" minOccurs="0"/>
										<xs:element ref="MiscNum4" minOccurs="0"/>
										<xs:element ref="MiscNum5" minOccurs="0"/>
										<xs:element ref="MiscNum6" minOccurs="0"/>
										<xs:element name="AccountUserCode1" type="xs:string" minOccurs="0"/>
										<xs:element name="AccountUserCode2" type="xs:string" minOccurs="0"/>
										<xs:element name="AccountUserCode3" type="xs:string" minOccurs="0"/>
										<xs:element name="AllowStandardPack" type="xs:string" minOccurs="0"/>
										<xs:element name="AnchorByField1" type="xs:string" minOccurs="0"/>
										<xs:element name="AnchorByField2" type="xs:string" minOccurs="0"/>
										<xs:element name="AnchorByField3" type="xs:string" minOccurs="0"/>
										<xs:element name="ConsigneeAccountNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="CrtOutboundASNFiles" type="xs:string" minOccurs="0"/>
										<xs:element name="CustomerCommunications" type="xs:string" minOccurs="0"/>
										<xs:element name="DeliveryDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="DeliveryDateFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="DUNsNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="EDIStoreID" type="xs:string" minOccurs="0"/>
										<xs:element name="FreightForwarderAccountNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="FreightForwarderOrderNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="GrossNetWeightOnASN" type="xs:string" minOccurs="0"/>
										<xs:element name="IncludePackLevelIfNotMixed" type="xs:string" minOccurs="0"/>
										<xs:element name="InfectiousSubstanceContactName" type="xs:string" minOccurs="0"/>
										<xs:element name="InfectiousSubstancePhoneNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="OutboundVendorNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="PalletContentLabelType" type="xs:string" minOccurs="0"/>
										<xs:element name="SendersInsInCaseOfNonDelivery" type="xs:string" minOccurs="0"/>
										<xs:element name="ShipToContact" type="xs:string" minOccurs="0"/>
										<xs:element name="StoreDivision" type="xs:string" minOccurs="0"/>
										<xs:element name="UnitNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="VolumeUOM" type="xs:string" minOccurs="0"/>
										<xs:element name="WarehouseTransferType" type="xs:string" minOccurs="0"/>
										<xs:element name="WeightUOM" type="xs:string" minOccurs="0"/>
										<xs:element name="PrimaryMaxicodeAddressNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="SecondaryMaxicodeAddressNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="ReturnShipVia" type="xs:string" minOccurs="0"/>
										<xs:element name="ReturnRoute" type="xs:string" minOccurs="0"/>
										<xs:element name="ReturnRouteLevel" type="xs:string" minOccurs="0"/>
										<xs:element name="ReturnAddressKey1" type="xs:string" minOccurs="0"/>
										<xs:element name="ReturnRouteType1" type="xs:string" minOccurs="0"/>
										<xs:element name="ReturnRouteType2" type="xs:string" minOccurs="0"/>
										<xs:element name="ReturnMiscNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="BackOrderReference" type="xs:string" minOccurs="0"/>
										<xs:element name="OnCancelRequest" type="xs:string" minOccurs="0"/>
										<xs:element name="ImporterAccountNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="AESInternalTransactionNbr" type="xs:string" minOccurs="0"/>
										<xs:element name="OutboundShipmentGroupingCode" type="xs:string" minOccurs="0"/>
										<xs:element name="SEDProofofFilingCitationCode" type="xs:string" minOccurs="0"/>
										<xs:element name="B13AFilingOption" type="xs:string" minOccurs="0"/>
										<xs:element name="B13AFilingNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="DocumentEmailAddress" type="xs:string" minOccurs="0"/>
										<xs:element name="MusicalRunAllocation" type="xs:string" minOccurs="0"/>
										<xs:element name="SplitMultipleLoads" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ListOfHdrInstructions" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PickticketHdrInstruction" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="SpclInstrNbr"/>
													<xs:element ref="SpclInstrType" minOccurs="0"/>
													<xs:element ref="SpclInstrCode" minOccurs="0"/>
													<xs:element ref="Error" minOccurs="0"/>
													<xs:element ref="PickticketInstrFields" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ListOfPickticketDetails" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PickticketDetail" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="PktLineNbr"/>
													<xs:element name="SKU">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SKUDefinition">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Company" type="xs:string" minOccurs="0"/>
																			<xs:element name="Division" type="xs:string" minOccurs="0"/>
																			<xs:element name="Season" type="xs:string" minOccurs="0"/>
																			<xs:element name="SeasonYear" type="xs:string" minOccurs="0"/>
																			<xs:element name="Style" type="xs:string" minOccurs="0"/>
																			<xs:element name="StyleSuffix" type="xs:string" minOccurs="0"/>
																			<xs:element name="Color" type="xs:string" minOccurs="0"/>
																			<xs:element name="ColorSuffix" type="xs:string" minOccurs="0"/>
																			<xs:element name="SecDimension" type="xs:string" minOccurs="0"/>
																			<xs:element name="Quality" type="xs:string" minOccurs="0"/>
																			<xs:element name="SizeRangeCode" type="xs:string" minOccurs="0"/>
																			<xs:element name="SizeRelPosninTable" type="xs:string" minOccurs="0"/>
																			<xs:element name="SizeDesc" type="xs:string" minOccurs="0"/>
																			<xs:element name="SkuID" type="xs:string" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="PktQty" minOccurs="0" type="xs:decimal"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="SubSKUFields" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="InventoryType" type="xs:string" minOccurs="0"/>
																<xs:element name="ProductStatus" type="xs:string" minOccurs="0"/>
																<xs:element name="BatchNumber" type="xs:string" minOccurs="0"/>
																<xs:element name="SKUAttribute1" type="xs:string" minOccurs="0"/>
																<xs:element name="SKUAttribute2" type="xs:string" minOccurs="0"/>
																<xs:element name="SKUAttribute3" type="xs:string" minOccurs="0"/>
																<xs:element name="SKUAttribute4" type="xs:string" minOccurs="0"/>
																<xs:element name="SKUAttribute5" type="xs:string" minOccurs="0"/>
																<xs:element name="CountryOfOrigin" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LocnDefinition" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Area" type="xs:string" minOccurs="0"/>
																<xs:element name="Zone" type="xs:string" minOccurs="0"/>
																<xs:element name="Aisle" type="xs:string" minOccurs="0"/>
																<xs:element name="Bay" type="xs:string" minOccurs="0"/>
																<xs:element name="Level" type="xs:string" minOccurs="0"/>
																<xs:element name="Position" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element ref="Error" minOccurs="0"/>
													<xs:element name="PickticketDetailFields" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="DateCreated" minOccurs="0"/>
																<xs:element name="PackageBarcode" type="xs:string" minOccurs="0"/>
																<xs:element name="PathNumber" type="xs:string" minOccurs="0"/>
																<xs:element name="PickLocAssignmentType" type="xs:string" minOccurs="0"/>
																<xs:element name="PickDeterminationType" type="xs:string" minOccurs="0"/>
																<xs:element name="OrigOrderQty" type="xs:decimal" minOccurs="0"/>
																<xs:element name="OrigPktQty" type="xs:decimal" minOccurs="0"/>
																<xs:element name="BackorderQty" type="xs:decimal" minOccurs="0"/>
																<xs:element name="CancelQty" type="xs:decimal" minOccurs="0"/>
																<xs:element name="PackMultipleQty" type="xs:decimal" minOccurs="0"/>
																<xs:element name="BoxQty" type="xs:decimal" minOccurs="0"/>
																<xs:element name="PackQty" type="xs:decimal" minOccurs="0"/>
																<xs:element name="CaseQty" type="xs:decimal" minOccurs="0"/>
																<xs:element name="TierQty" type="xs:decimal" minOccurs="0"/>
																<xs:element name="PalletQty" type="xs:decimal" minOccurs="0"/>
																<xs:element name="BundleQuantity" type="xs:decimal" minOccurs="0"/>
																<xs:element name="UnitWeight" type="xs:decimal" minOccurs="0"/>
																<xs:element name="UnitVolume" type="xs:decimal" minOccurs="0"/>
																<xs:element name="InnerPackWieght" type="xs:decimal" minOccurs="0"/>
																<xs:element name="InnerPackVolume" type="xs:decimal" minOccurs="0"/>
																<xs:element name="PackMultipleWeight" type="xs:decimal" minOccurs="0"/>
																<xs:element name="PackMultipleVolume" type="xs:decimal" minOccurs="0"/>
																<xs:element name="StyleDesc" type="xs:string" minOccurs="0"/>
																<xs:element name="ColorDesc" type="xs:string" minOccurs="0"/>
																<xs:element name="CustomerSKU" type="xs:string" minOccurs="0"/>
																<xs:element name="PrePackGroupCode" type="xs:string" minOccurs="0"/>
																<xs:element name="AssortmentNbr" type="xs:string" minOccurs="0"/>
																<xs:element name="NbrUnitsInPpacks" type="xs:decimal" minOccurs="0"/>
																<xs:element name="ShelfDays" type="xs:integer" minOccurs="0"/>
																<xs:element name="PalletType" type="xs:string" minOccurs="0"/>
																<xs:element name="CartonType" type="xs:string" minOccurs="0"/>
																<xs:element name="CartonSize" type="xs:string" minOccurs="0"/>
																<xs:element name="CrtnBrkAttribute" type="xs:string" minOccurs="0"/>
																<xs:element name="CriticalDimension1" type="xs:decimal" minOccurs="0"/>
																<xs:element name="CriticalDimension2" type="xs:decimal" minOccurs="0"/>
																<xs:element name="CriticalDimension3" type="xs:decimal" minOccurs="0"/>
																<xs:element name="StdCaseWeight" type="xs:decimal" minOccurs="0"/>
																<xs:element name="StdCaseVolume" type="xs:decimal" minOccurs="0"/>
																<xs:element name="SingleItemCartonYN" type="xs:string" minOccurs="0"/>
																<xs:element ref="VASStatus" minOccurs="0"/>
																<xs:element ref="VASType" minOccurs="0"/>
																<xs:element name="VASGroup" type="xs:string" minOccurs="0"/>
																<xs:element name="CatchWeight" type="xs:string" minOccurs="0"/>
																<xs:element name="ProductTempZone" type="xs:string" minOccurs="0"/>
																<xs:element name="PreCubeFlag" type="xs:string" minOccurs="0"/>
																<xs:element name="LineItemStatus" type="xs:string" minOccurs="0"/>
																<xs:element name="UPCPreDigit" type="xs:string" minOccurs="0"/>
																<xs:element name="UPCVendorCode" type="xs:string" minOccurs="0"/>
																<xs:element name="UPCSerialProdNbr" type="xs:string" minOccurs="0"/>
																<xs:element name="UPCPostDigit" type="xs:string" minOccurs="0"/>
																<xs:element name="ISBNNumber" type="xs:string" minOccurs="0"/>
																<xs:element name="Price" type="xs:decimal" minOccurs="0"/>
																<xs:element name="RetailPrice" type="xs:decimal" minOccurs="0"/>
																<xs:element name="DiscountDollars" type="xs:decimal" minOccurs="0"/>
																<xs:element name="CustomTag" type="xs:string" minOccurs="0"/>
																<xs:element name="TpeFreightClass" type="xs:string" minOccurs="0"/>
																<xs:element name="TarrifClass" type="xs:string" minOccurs="0"/>
																<xs:element name="PackAreaCode" type="xs:string" minOccurs="0"/>
																<xs:element name="PickRate" type="xs:decimal" minOccurs="0"/>
																<xs:element name="PackRate" type="xs:decimal" minOccurs="0"/>
																<xs:element name="OverSizeLength" type="xs:integer" minOccurs="0"/>
																<xs:element name="I2of5PackQtyRef" type="xs:string" minOccurs="0"/>
																<xs:element name="I2of5CaseQtyRef" type="xs:string" minOccurs="0"/>
																<xs:element name="I2of5TierQtyRef" type="xs:string" minOccurs="0"/>
																<xs:element name="RuleNbr" type="xs:decimal" minOccurs="0"/>
																<xs:element name="InventoryAllocationType" type="xs:string" minOccurs="0"/>
																<xs:element name="LineTypeFRACAL" type="xs:string" minOccurs="0"/>
																<xs:element ref="WorkType" minOccurs="0"/>
																<xs:element name="PackZone" type="xs:string" minOccurs="0"/>
																<xs:element name="SerialNbrReq" type="xs:string" minOccurs="0"/>
																<xs:element name="ProtectionFactor" type="xs:string" minOccurs="0"/>
																<xs:element ref="SKU100Inventory" minOccurs="0"/>
																<xs:element ref="SpeclInstrCode1" minOccurs="0"/>
																<xs:element ref="SpeclInstrCode2" minOccurs="0"/>
																<xs:element ref="SpeclInstrCode3" minOccurs="0"/>
																<xs:element ref="SpeclInstrCode4" minOccurs="0"/>
																<xs:element ref="SpeclInstrCode5" minOccurs="0"/>
																<xs:element ref="RecordExpansionField" minOccurs="0"/>
																<xs:element ref="CustomRecExpansionField" minOccurs="0"/>
																<xs:element name="NMFCCode" type="xs:string" minOccurs="0"/>
																<xs:element name="UnitsPicked" type="xs:decimal" minOccurs="0"/>
																<xs:element name="UnitsPacked" type="xs:decimal" minOccurs="0"/>
																<xs:element name="ReasonCode" type="xs:string" minOccurs="0"/>
																<xs:element ref="StatusCode" minOccurs="0"/>
																<xs:element name="OriginalOrderLineNumber" type="xs:integer" minOccurs="0"/>
																<xs:element name="OriginalPickticketLineNbr" type="xs:integer" minOccurs="0"/>
																<xs:element name="ToBeVerifiedAsPacked" type="xs:decimal" minOccurs="0"/>
																<xs:element name="StandardSubPackQuantity" type="xs:decimal" minOccurs="0"/>
																<xs:element name="VerifiedAsPacked" type="xs:integer" minOccurs="0"/>
																<xs:element name="PickLocationID" type="xs:string" minOccurs="0"/>
																<xs:element name="ToBePicked" type="xs:decimal" minOccurs="0"/>
																<xs:element name="SKUSubstitutionCodeid" type="xs:string" minOccurs="0"/>
																<xs:element name="SKUSubstitutionCodeValue" type="xs:string" minOccurs="0"/>
																<xs:element name="OrderConsolAttribute" type="xs:string" minOccurs="0"/>
																<xs:element name="Taxable" type="xs:string" minOccurs="0"/>
																<xs:element name="TaxPercentage" type="xs:decimal" minOccurs="0"/>
																<xs:element name="SuppressPrintAmounts" type="xs:string" minOccurs="0"/>
																<xs:element name="MessageID" type="xs:string" minOccurs="0"/>
																<xs:element name="ChuteAssignmentType" type="xs:string" minOccurs="0"/>
																<xs:element ref="CustomerPONumber" minOccurs="0"/>
																<xs:element ref="PktProfileID" minOccurs="0"/>
																<xs:element name="ItemVersSub" type="xs:string" minOccurs="0"/>
																<xs:element name="LotReqType" type="xs:string" minOccurs="0"/>
																<xs:element name="DRPProcType" type="xs:string" minOccurs="0"/>
																<xs:element ref="EstimatedWeightBridged" minOccurs="0"/>
																<xs:element name="BatchReqmtType" type="xs:string" minOccurs="0"/>
																<xs:element name="CrushabilityCode" type="xs:string" minOccurs="0"/>
																<xs:element name="EventCode" type="xs:string" minOccurs="0"/>
																<xs:element name="InnerCtnBreakAttr" type="xs:string" minOccurs="0"/>
																<xs:element name="InnerCtnItem" type="xs:string" minOccurs="0"/>
																<xs:element name="InnerCtnType" type="xs:string" minOccurs="0"/>
																<xs:element name="TpePOSeq" type="xs:string" minOccurs="0"/>
																<xs:element name="TpeRefField1" type="xs:string" minOccurs="0"/>
																<xs:element name="TpeRefField2" type="xs:string" minOccurs="0"/>
																<xs:element name="TpeRefField3" type="xs:string" minOccurs="0"/>
																<xs:element name="TpePOSizeUoM" type="xs:string" minOccurs="0"/>
																<xs:element name="TpePOSizeVal" type="xs:decimal" minOccurs="0"/>
																<xs:element name="PORdytoShipFlag" type="xs:string" minOccurs="0"/>
																<xs:element name="TpeActualCost" type="xs:decimal" minOccurs="0"/>
																<xs:element name="TpeBudgetCost" type="xs:decimal" minOccurs="0"/>
																<xs:element ref="TpeCurrCode" minOccurs="0"/>
																<xs:element name="TpePurchaseOrder" type="xs:string" minOccurs="0"/>
																<xs:element name="TpeTranspOrdNbr" type="xs:string" minOccurs="0"/>
																<xs:element name="UnitOfMeasure" type="xs:string" minOccurs="0"/>
																<xs:element name="CartonEPCType" type="xs:string" minOccurs="0"/>
																<xs:element name="PalletEPCType" type="xs:string" minOccurs="0"/>
																<xs:element name="CustomerMaxPalletCube" type="xs:decimal" minOccurs="0"/>
																<xs:element name="SingleStopPallet" type="xs:string" minOccurs="0"/>
																<xs:element name="PriceTicketType" type="xs:string" minOccurs="0"/>
																<xs:element name="AllocateIncubateCase" type="xs:string" minOccurs="0"/>
																<xs:element name="ExportIdCode" type="xs:string" minOccurs="0"/>
																<xs:element name="MarksAndNbrs" type="xs:string" minOccurs="0"/>
																<xs:element name="PrintPriceTicketWithWave" type="xs:string" minOccurs="0"/>
																<xs:element name="AllocationMethod" type="xs:string" minOccurs="0"/>
																<xs:element name="WaveProcessingType" type="xs:string" minOccurs="0"/>
																<xs:element ref="MiscField1" minOccurs="0"/>
																<xs:element ref="MiscField2" minOccurs="0"/>
																<xs:element ref="MiscField3" minOccurs="0"/>
																<xs:element ref="MiscField4" minOccurs="0"/>
																<xs:element ref="MiscField5" minOccurs="0"/>
																<xs:element ref="MiscField6" minOccurs="0"/>
																<xs:element ref="MiscField7" minOccurs="0"/>
																<xs:element ref="MiscField8" minOccurs="0"/>
																<xs:element ref="MiscField9" minOccurs="0"/>
																<xs:element ref="MiscField10" minOccurs="0"/>
																<xs:element ref="MiscNum1" minOccurs="0"/>
																<xs:element ref="MiscNum2" minOccurs="0"/>
																<xs:element ref="MiscNum3" minOccurs="0"/>
																<xs:element ref="MiscNum4" minOccurs="0"/>
																<xs:element ref="MiscNum5" minOccurs="0"/>
																<xs:element ref="MiscNum6" minOccurs="0"/>
																<xs:element ref="MiscNum7" minOccurs="0"/>
																<xs:element ref="MiscNum8" minOccurs="0"/>
																<xs:element name="ExceedPercentageForFullCaseAllocation" type="xs:decimal" minOccurs="0"/>
																<xs:element name="GarmentsOnHangerFlag" type="xs:string" minOccurs="0"/>
																<xs:element name="CustomerPOLineNbr" type="xs:integer" minOccurs="0"/>
																<xs:element name="ReturnShipVia" type="xs:string" minOccurs="0"/>
																<xs:element name="ReturnAddressKey1" type="xs:string" minOccurs="0"/>
																<xs:element name="ReturnRouteType1" type="xs:string" minOccurs="0"/>
																<xs:element name="ReturnRouteType2" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TPESupplPktDtl" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TpePackageType" type="xs:string" minOccurs="0"/>
																<xs:element name="TpePackageTypeInstance" type="xs:string" minOccurs="0"/>
																<xs:element name="TpeParentLineItemID" type="xs:string" minOccurs="0"/>
																<xs:element name="TpeUnitMonetaryValue" type="xs:decimal" minOccurs="0"/>
																<xs:element name="TpeMVSizeUOM" type="xs:string" minOccurs="0"/>
																<xs:element name="TpeIsHazmat" type="xs:string" minOccurs="0"/>
																<xs:element ref="TpeMonetaryValue" minOccurs="0"/>
																<xs:element ref="TpeMVCurrencyCode" minOccurs="0"/>
																<xs:element ref="TpeCommodityCode" minOccurs="0"/>
																<xs:element ref="TpeProductSchedRefNbr" minOccurs="0"/>
																<xs:element ref="TpeUNNumber" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ListOfDtlInstructions" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PickticketDtlInstruction" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="PktLineNbr"/>
																			<xs:element ref="SpclInstrNbr"/>
																			<xs:element ref="SpclInstrType" minOccurs="0"/>
																			<xs:element ref="SpclInstrCode" minOccurs="0"/>
																			<xs:element ref="Error" minOccurs="0"/>
																			<xs:element ref="PickticketInstrFields" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ListOfSerialNumbers" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SerialNumber" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="SerialNbr" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ListOfPktWorkTypes" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PickticketWorkType" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="WorkType" minOccurs="0"/>
													<xs:element name="RecordType" type="xs:string" minOccurs="0"/>
													<xs:element name="RecordValue" type="xs:string" minOccurs="0"/>
													<xs:element ref="Error" minOccurs="0"/>
													<xs:element name="PktWorkTypeFields" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="DateCreated" minOccurs="0"/>
																<xs:element name="NbrUnits" type="xs:decimal" minOccurs="0"/>
																<xs:element name="NbrPicks" type="xs:integer" minOccurs="0"/>
																<xs:element name="NbrDollars" type="xs:decimal" minOccurs="0"/>
																<xs:element ref="RecordExpansionField" minOccurs="0"/>
																<xs:element ref="CustomRecExpansionField" minOccurs="0"/>
																<xs:element name="StandardAllowedMins" type="xs:string" minOccurs="0"/>
																<xs:element name="NbrCartons" type="xs:integer" minOccurs="0"/>
																<xs:element ref="Warehouse"/>
																<xs:element name="CapacityType" type="xs:string" minOccurs="0"/>
																<xs:element name="CapacityCode" type="xs:string" minOccurs="0"/>
																<xs:element name="EstimatedQty" type="xs:integer" minOccurs="0"/>
																<xs:element name="ActualQty" type="xs:decimal" minOccurs="0"/>
																<xs:element name="NbrOfDtlLines" type="xs:integer" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TPESupplPktHdr" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="DateCreated" minOccurs="0"/>
										<xs:element ref="Error" minOccurs="0"/>
										<xs:element ref="TpeBusinessUnitCode" minOccurs="0"/>
										<xs:element ref="TpeDesigModeCode" minOccurs="0"/>
										<xs:element ref="TpeDesigSvcLvl" minOccurs="0"/>
										<xs:element ref="TpeShipToCnty" minOccurs="0"/>
										<xs:element ref="TpeDestDockDoor" minOccurs="0"/>
										<xs:element ref="TpeShprOrdID" minOccurs="0"/>
										<xs:element ref="TpeIsPerishFlag" minOccurs="0"/>
										<xs:element name="TpeTransptRespCode" type="xs:string" minOccurs="0"/>
										<xs:element name="TpeDockID" type="xs:string" minOccurs="0"/>
										<xs:element ref="RecordExpansionField" minOccurs="0"/>
										<xs:element ref="CustomRecExpansionField" minOccurs="0"/>
										<xs:element ref="TpeCurrCode" minOccurs="0"/>
										<xs:element name="TpeDeliveryEndDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="TpeDeliveryStartDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="TpeIncotermID" type="xs:string" minOccurs="0"/>
										<xs:element name="TpeIsCustomerPickup" type="xs:string" minOccurs="0"/>
										<xs:element name="TpeIsDirectAllowed" type="xs:string" minOccurs="0"/>
										<xs:element name="TpeIsPartiallyAllowed" type="xs:string" minOccurs="0"/>
										<xs:element name="TpeParentOrderID" type="xs:string" minOccurs="0"/>
										<xs:element name="TpePlanningDestination" type="xs:string" minOccurs="0"/>
										<xs:element name="TpePickupEndDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="TpePickupStartDate" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="TpePlanningOrigin" type="xs:string" minOccurs="0"/>
										<xs:element name="TpePriorityType" type="xs:string" minOccurs="0"/>
										<xs:element ref="TpeMonetaryValue" minOccurs="0"/>
										<xs:element ref="TpeMVCurrencyCode" minOccurs="0"/>
										<xs:element ref="TpeCommodityCode" minOccurs="0"/>
										<xs:element ref="TpeProductSchedRefNbr" minOccurs="0"/>
										<xs:element ref="TpeUNNumber" minOccurs="0"/>
										<xs:element name="TpeOrderType" type="xs:string" minOccurs="0"/>
										<xs:element ref="MiscField1" minOccurs="0"/>
										<xs:element ref="MiscField2" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="optional"/>
			<xs:attribute name="version" type="xs:string" use="optional" default="2.4"/>
			<xs:attribute name="timestamp" type="xs:dateTime" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
