com.braintribe.gm.schemedxml/schemed-xml-xsd-analyzer-lab/res/simpleChoice/input/simplest.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
	<xs:sequence>
		<xs:element name="entry" type="Entry"/>
	</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Entry">
		<xs:choice>
			<xs:element name="choice_1" type="xs:string"/>
			<xs:element name="choice_2" type="xs:integer"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
