tribefire.extension.schemed-xml/schemed-xml-xsd-analyzer-lab/res/recursive/input/recursiveDerivation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="root" type="Root"/>
	<xs:complexType name="BaseRoot">
		<xs:sequence>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Root">
		<xs:complexContent>
			<xs:extension base="BaseRoot">
				<xs:sequence>
					<xs:element name="inner" type="Root"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
