tribefire.extension.schemed-xml/schemed-xml-xsd-analyzer-lab/res/bidirectionals/input/link.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="singleChild" type="Entry"/>
			<xs:element name="multipleChild" type="Entry" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Entry">
		<xs:sequence>
			<xs:element name="entriesValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
