com.braintribe.gm.schemedxml/schemed-xml-xsd-analyzer-lab/res/substitution/input/subst.simple.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="root" type="Root">
	</xs:element>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="a" type="xs:string"/>
			<xs:element name="bee" type="Bee"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bee">
		<xs:sequence>
			<xs:element name="cee" type="Cee"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Cee">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
