tribefire.extension.schemed-xml/schemed-xml-xsd-analyzer-lab/res/simpleDirectRestriction/input/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="single">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="10"/>
					<xs:minLength value="5"/>
				</xs:restriction>
			</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
