com.braintribe.gm.schemedxml/schemed-xml-marshaller-lab/res/include/input/including.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="child" type="Child" maxOccurs="unbounded"/>
				<xs:element name="cousin" type="Child" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Child">
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
</xs:schema>
