tribefire.extension.schemed-xml/schemed-xml-xsd-analyzer-lab/res/simpleTypeInclude/input/main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="include.xsd"/>
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="value" type="xs:string"/>
			<xs:element name="imported" type="Imported"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
