tribefire.extension.schemed-xml/schemed-xml-xsd-analyzer-lab/res/attributes/input/attributes.lang.import.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="f:/works/dev-envs/standard/git/tribefire.extension.schemed-xml/schemed-xml-xsd-analyzer-lab/res/attributes/input/lang.xsd"/>
	<xs:element name="root" type="Root"/>
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang" use="required"/>
		<xs:attribute name="bingo" type="xs:string" use="required" />			
	</xs:complexType>
</xs:schema>
